alias lg="lazygit"
alias ls="exa -lah --git-ignore --group-directories-first --git --color-scale"
alias nin="npm install"
alias nrb="npm run build"
alias nrd="npm run dev"
alias nrl="npm run lint"
alias nrs="npm run start"
alias nrt="npm run test"
alias tree="tree -I 'node_modules|cache|next'"
alias v="nvim"
alias vi="nvim"
alias vim="nvim"
