# vi: ft=gitconfig

[user]
	name = Jesper Ryom
	email = 2834949+jryom@users.noreply.github.com

[push]
	default = current

[pull]
	rebase = true

[rebase]
	autoStash = true

[core]
	excludesfile = ~/.gitignore_global

[remote "origin"]
	prune = true

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[diff]
	algorithm = patience
	indentHeuristic = true

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = nvim

[mergetool]
	prompt = false

[delta]
	side-by-side = true
	line-numbers = true
	syntax-theme = $([[ "$DARK_MODE_ACTIVE" = 1 ]] && echo "gruvbox-dark" || echo "gruvbox-light")
	hunk-header-style = omit
