# vi: ft=gitconfig

[user]
	name = Jesper Ryom
	email = 2834949+jryom@users.noreply.github.com
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMhbE+pFOaBOnRRsF/tksT/oQOBY+tUM6IMPtBMTdyuS 2834949+jryom@users.noreply.github.com

[commit]
	gpgsign = true

[gpg]
	format = ssh

[push]
	default = current

[pull]
	rebase = true

[rebase]
	autoStash = true

[core]
	excludesfile = ~/.gitignore_global

[remote "origin"]
	prune = true

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[diff]
	algorithm = patience
	indentHeuristic = true

[pager]
	difftool = true

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = nvim

[mergetool]
	prompt = false

[delta]
	side-by-side = true
	line-numbers = true
	hunk-header-style = omit

[color "grep"]
	linenumber = green
	filename = blue
	match = bold yellow

[grep]
	linenumber = true
	heading = true
