<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>local.homebrew-update-notify</string>
	<key>Nice</key>
	<integer>20</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>bash</string>
		<string>-ci</string>
		<string>$HOME/.config/scripts/homebrew-update-notify</string>
	</array>
	<key>StartInterval</key>
	<integer>21600</integer>
</dict>
</plist>
