<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>local.autoupdate</string>
	<key>Nice</key>
	<integer>20</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>zsh</string>
		<string>-c</string>
		<string>-i</string>
		<string>[[ $(date +%s) &gt; $(( $(cat /tmp/lastupdatesys  2&gt;/dev/null || echo 0) + 60 * 60 * 24 * 7 )) ]] &amp;&amp; zsh -c $DOTDIR/scripts/update.zsh || exit 0</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/autoupdate.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/autoupdate.out</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
